# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
absl-py=0.10.0=pypi_0
aio-pika=6.7.1=pypi_0
aiofiles=0.6.0=pypi_0
aiohttp=3.6.3=pypi_0
aiormq=3.3.1=pypi_0
apscheduler=3.6.3=pypi_0
astunparse=1.6.3=pypi_0
async-generator=1.10=pypi_0
async-timeout=3.0.1=pypi_0
attrs=20.2.0=pypi_0
boto3=1.16.23=pypi_0
botocore=1.19.23=pypi_0
ca-certificates=2020.10.14=0
cachetools=4.1.1=pypi_0
certifi=2020.6.20=py37_0
cffi=1.14.3=pypi_0
chardet=3.0.4=pypi_0
cloudpickle=1.4.1=pypi_0
colorclass=2.2.0=pypi_0
coloredlogs=14.0=pypi_0
colorhash=1.0.2=pypi_0
configparser=5.0.1=pypi_0
cryptography=3.2.1=pypi_0
cycler=0.10.0=pypi_0
cyrus-sasl=2.1.26=h20670df_3
decorator=4.4.2=pypi_0
dm-tree=0.1.5=pypi_0
dnspython=1.16.0=pypi_0
docopt=0.6.2=pypi_0
fbmessenger=6.0.0=pypi_0
future=0.18.2=pypi_0
gast=0.4.0=pypi_0
gevent=20.9.0=pypi_0
google-auth=1.23.0=pypi_0
google-auth-oauthlib=0.4.2=pypi_0
google-pasta=0.2.0=pypi_0
greenlet=1.0a1=pypi_0
grpcio=1.33.2=pypi_0
h11=0.9.0=pypi_0
h5py=2.10.0=pypi_0
httpcore=0.11.1=pypi_0
httplib2=0.18.1=pypi_0
httptools=0.1.1=pypi_0
httpx=0.15.4=pypi_0
humanfriendly=8.2=pypi_0
idna=2.10=pypi_0
importlib-metadata=3.0.0=pypi_0
jmespath=0.10.0=pypi_0
joblib=0.15.1=pypi_0
jsonpickle=1.4.1=pypi_0
jsonschema=3.2.0=pypi_0
kafka-python=2.0.2=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=pypi_0
krb5=1.16.1=hc83ff2d_6
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.2.1=hf484d3e_1007
libgcc-ng=9.1.0=hdf63c60_0
libntlm=1.5=h7b6447c_0
libprotobuf=3.6.0=hdbcaa40_0
libstdcxx-ng=9.1.0=hdf63c60_0
markdown=3.3.3=pypi_0
matplotlib=3.3.3=pypi_0
mattermostwrapper=2.2=pypi_0
multidict=4.7.6=pypi_0
mysql=5.7.22=hef7e34c_0
mysql-connector-c=6.1.11=hf4847fb_0
mysql-connector-python=8.0.18=py37h9c95fcb_1
mysqlclient=2.0.1=pypi_0
ncurses=6.2=he6710b0_1
networkx=2.5=pypi_0
numpy=1.19.4=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.1.0=pypi_0
openssl=1.0.2u=h7b6447c_0
opt-einsum=3.3.0=pypi_0
packaging=20.4=pypi_0
pamqp=2.3.0=pypi_0
pillow=8.0.1=pypi_0
pip=20.2.4=py37h06a4308_0
prompt-toolkit=2.0.10=pypi_0
protobuf=3.8.0=pypi_0
psycopg2-binary=2.8.6=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=pypi_0
pydot=1.4.1=pypi_0
pyjwt=1.7.1=pypi_0
pykwalify=1.7.0=pypi_0
pymongo=3.10.1=pypi_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.17.3=pypi_0
python=3.7.0=h6e4f718_3
python-crfsuite=0.9.7=pypi_0
python-dateutil=2.8.1=pypi_0
python-engineio=3.13.2=pypi_0
python-socketio=4.6.0=pypi_0
python-telegram-bot=12.8=pypi_0
pytz=2020.4=pypi_0
pyyaml=5.3.1=pypi_0
questionary=1.5.2=pypi_0
rasa=2.1.0=pypi_0
rasa-sdk=2.1.2=pypi_0
readline=7.0=h7b6447c_5
redis=3.5.3=pypi_0
regex=2020.9.27=pypi_0
requests=2.25.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
requests-toolbelt=0.9.1=pypi_0
rfc3986=1.4.0=pypi_0
rocketchat-api=1.9.1=pypi_0
rsa=4.6=pypi_0
ruamel-yaml=0.16.12=pypi_0
ruamel-yaml-clib=0.2.2=pypi_0
s3transfer=0.3.3=pypi_0
sanic=20.9.1=pypi_0
sanic-cors=0.10.0.post3=pypi_0
sanic-jwt=1.4.1=pypi_0
sanic-plugins-framework=0.9.4.post1=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.4=pypi_0
sentry-sdk=0.19.4=pypi_0
setuptools=50.3.1=py37h06a4308_1
six=1.15.0=py_0
sklearn-crfsuite=0.3.6=pypi_0
slackclient=2.9.3=pypi_0
sniffio=1.2.0=pypi_0
sqlalchemy=1.3.20=pypi_0
sqlite=3.33.0=h62c20be_0
tabulate=0.8.7=pypi_0
tensorboard=2.4.0=pypi_0
tensorboard-plugin-wit=1.7.0=pypi_0
tensorflow=2.3.1=pypi_0
tensorflow-addons=0.11.2=pypi_0
tensorflow-estimator=2.3.0=pypi_0
tensorflow-hub=0.9.0=pypi_0
tensorflow-probability=0.11.1=pypi_0
tensorflow-text=2.3.0=pypi_0
termcolor=1.1.0=pypi_0
terminaltables=3.1.0=pypi_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hbc83047_0
tornado=6.1=pypi_0
tqdm=4.50.2=pypi_0
twilio=6.45.4=pypi_0
typeguard=2.10.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
tzdata=2020d=h14c3975_0
tzlocal=2.1=pypi_0
ujson=3.2.0=pypi_0
urllib3=1.26.2=pypi_0
uvloop=0.14.0=pypi_0
wcwidth=0.2.5=pypi_0
webexteamssdk=1.6=pypi_0
websockets=8.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.35.1=pyhd3eb1b0_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h7b6447c_0
yarl=1.5.1=pypi_0
zipp=3.4.0=pypi_0
zlib=1.2.11=h7b6447c_3
zope-event=4.5.0=pypi_0
zope-interface=5.2.0=pypi_0
